@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins.ttf');
}

:root{
    --blue :#1877f2 ;
    --blue-hover : #216fdb;
    --background : #e9ebee ;
    --green : #42b72a;
    --green-hover : #36a420;
    --dark : #222;
    --bg-button : #e4e6eb;
    --bg-color :  #4b4f56;
    --color-danger:#fb6875;
    --color-success:#20f4ad ;
    --hover-success:#05e79c ;
    --color-warning:#fcb346 ;
    --white : #fff;
	--dgrey: #666666;
	--login-bg: gainsboro;
}
.logout {
	background-color:#1877f2;
	color:white;
	padding:10px !important;
	border:1px navy solid;
	display:inline;
	margin-left:10px !important;
	margin-right:10px !important;
}
.logout:hover{
			background-color:#216fdb;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    list-style: none;
    font-family: 'Poppins';
}


body {
    background-image:var(--background) ;

}

header{
    width: 80%;
    height: 70px;
    background: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px ;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    
}

.logo {
    width: 120px;
    margin-top: 8px;
}

nav .logo{
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #222;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    text-decoration: none;
}

nav ul li a:hover{
    background: #222;
    color: #fff;
}

nav ul li a.active{
    background: #222;
    color: lightgray;
    
}

.btn {
     display: none; 
    /* background: red; */
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;


}
.blk-btn {
	border:1px solid white;
	color:white;
	background-color:red;
	text-decoration:none;
	font-weight:bold;
	padding:7px;
	border-radius:10%;
	margin:auto;
	margin-top:3px;
	margin-bottom:3px;
}
.blk-btn:hover {
	background-color:maroon;
}
.rel-btn{
	border:1px solid white;
	color:white;
	background-color:green;
	text-decoration:none;
	font-weight:bold;
	padding:7px;
	border-radius:10%;
	margin:auto;
	margin-top:3px;
	margin-bottom:3px;
}
.rel-btn:hover {
	background-color:teal;
}

.radio label{
    margin-left: 4px;
    accent-color: var(--blue);
}
.radio :focus:checked{
    color: blue;
}




.btn:hover{
    background: #efefef;
}

.btn div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #222;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin:auto
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #222;
    color: white;

  }
body{
    background: var(--background);
}

.view .head{
    background: var(--dgrey);
    padding: 20px 10px;
    color: #fff;
   
}
.view {
	width:80% !important;
	margin:auto;
}

.serach{
    text-align: center;
}

.find input[type=search],input[type=text]{
    
    width: 300px;
    padding: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
}
.find .search input[type=search],input[type=text]{
    
    width: 350px;
    padding: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
}
.tech-btn {
	 padding: 0.7%;
    border: none;
    background: var(--blue);
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom:2%;
}
.tech-btn:hover{
	background: var(--green);
}
 button{
    padding: 10px 12px;
    border: none;
    background: var(--blue);
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    
}

.find button{
    width: 10%;
    padding: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
    background: blue;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.view .head a{
    float: right;
    background: #222;
    color: #fff;
    padding: 6px;
    border-radius: 6px;
    text-decoration: none;
    
}


@media only screen and (max-width:1100px) {
    header{
        width: 90%;
        padding: 0 20px;
    }
    #btn:checked ~ nav {
        left: 0;

    }

    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: rgb(250, 250, 250);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0 , 0 , 0 ,0.05);
    }
    .btn div {
        width: 30px;
        height: 2px;
        margin: 6px 0;
        background: #222;
    }

    nav  .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
        text-align: center;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .btn {
        display: block;
    }
    

}